<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/applicationContext.xml</param-value>
  </context-param>
  <filter>
    <filter-name>exceptionHandler</filter-name>
    <filter-class>com.qhrtech.emr.restapi.filter.SecurityExceptionHandlerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>exceptionHandler</filter-name>
    <url-pattern>/rest/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>multiTenantLoggingFilter</filter-name>
    <filter-class>com.qhrtech.emr.restapi.filter.MultiTenantLoggingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>multiTenantLoggingFilter</filter-name>
    <url-pattern>/rest/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>exceptionFilter</filter-name>
    <filter-class>com.qhrtech.emr.restapi.filter.ExceptionProcessFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>exceptionFilter</filter-name>
    <url-pattern>/rest/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>tenantIdCheckFilter</filter-name>
    <filter-class>com.qhrtech.emr.restapi.filter.TenantIdCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>tenantIdCheckFilter</filter-name>
    <url-pattern>/rest/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>uuidCheckFilter</filter-name>
    <filter-class>com.qhrtech.emr.restapi.filter.UuidCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>uuidCheckFilter</filter-name>
    <url-pattern>/rest/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>apiContextLoadFilter</filter-name>
    <filter-class>com.qhrtech.emr.restapi.filter.ApiContextLoadFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>apiContextLoadFilter</filter-name>
    <url-pattern>/rest/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>restApiModuleCheckFilter</filter-name>
    <filter-class>com.qhrtech.emr.restapi.filter.RestApiModuleCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>restApiModuleCheckFilter</filter-name>
    <url-pattern>/rest/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.qhrtech.emr.restapi.startup.StartupContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>CXF</servlet-name>
    <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CXF</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>spring-mvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value/>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>spring-mvc</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
